* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4rem;
}
body {
  background-color: #394567;
}
header,
main,
footer {
  /* border: 1px solid red; */
  width: 60vw;
  min-width: 700px;
  margin: 0 auto;
  background-color: white;
}

header {
  height: 5rem;
  padding: 2rem;
  text-align: center;
  background-color: #ece2d0;
}

main {
  /* background-color: #2b3a67; */
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.postHeader {
  margin-bottom: 1rem;
  /* background-color: #9297c4; */
  width: 100%;
  padding: 0.3rem;
  border-radius: 0.5rem;
  box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.384);
}

.postDiv {
  margin-bottom: 2rem;
  border-radius: 1rem;
  padding: 1rem 1.5rem;
  box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.384);
}
h2 {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid black;
  width: fit-content;
}
.postDiv p {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

#getPosts {
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  width: 15rem;
  align-self: center;
  display: block;
  /* display: none; */
}

#getPosts:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.11);
  font-weight: bold;
}

#getPosts:active {
  transform: scale(0.98);
  box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.384);
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  margin-bottom: 1rem;
  padding: 0.3rem;
  border-radius: 0 0 0.8rem 0.8rem;
}
